.modalsjs-container {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.modalsjs-backblur {
    position: fixed;
    background-color: #0b0b0b;
    opacity: 0.8;
    height: 100%;
    width: 100%;
}

.modalsjs-view {
    z-index: 1000;
    position: fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
figure.modalsjs-view {
    margin: 0;
}
.modalsjs-shadow {
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.75);
}
.modalsjs-image {
    display: block;
    cursor: zoom-out;
    margin: auto auto 5px;
    border-radius: 2px;
    :focus {
        outline: none;
    }
    .modalsjs-gallery {
        font-size: 20pt;
        color: #fafafa;
        :before {
            content: '〈';
        }
        :after {
            content: '〉';
        }
    }
}

.modalsjs-image-title, .modalsjs-image-desc {
    color: #F3F3F3;
}

.modalsjs-closebutton {
    margin-top: -5px;
    margin-left: -10px;
    color: #9E9E9E;
    float: right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 150ms;
    font-size: 1.2rem;
    line-height: 1.2rem;
    :hover {
        transition: color 200ms;
        color: #616161;
    }
}

.modalsjs-warning-text {
    display: block;
    margin-bottom: 15px;
}
.modalsjs-warning-yes, .modalsjs-warning-no {
    float: right;
    margin-left: 8px;
}

.modalsjs-content {
    min-width: 300px;
    min-height: 100px;
}
.modalsjs-bgc {
    background-color: #E0E0E0;
}

.modalsjs-popupimage {
    cursor: pointer;
}
.modalsjs-gallery-left, .modalsjs-gallery-right {
    cursor: pointer;
}
.modalsjs-gallery-left:after{
    content: '〈';
}
.modalsjs-gallery-right:after {
    content: '〉';
}
.modalsjs-gallery-nav {
    width: 100%;
    text-align: center;
    > * {
        display: inline;
        color: #F3F3F3;
    }
    > span {
        margin-left: 8px;
        margin-right: 8px;
    }
}